@model Hegemony.Models.Nation

@using System.Security.Claims
<h1>Testting</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

<h4>Forge a new Nation</h4>

@using (Html.BeginForm())
            {
    <p>
        Nation Name
        @Html.TextBoxFor(model => model.Name)
    </p>

    <p>
        Army Doctrine
        <div class="ArmyId1"> @Html.DropDownList("ArmyId")</div>
    </p>

    <p>
        Economic Policy
        <div class="EconomyId1">@Html.DropDownList("EconomyId")</div>
    </p>

    <p>
        Government Tradition
        <div class="GovernmentId1"> @Html.DropDownList("GovernmentId")</div>
    </p>

    <p>
        Technological Ability
        <div class="TechnologyId1"> @Html.DropDownList("TechnologyId")</div>
    </p>

    <p>
        Geographic Layout
        <div class="GeographyId1">@Html.DropDownList("GeographyId")</div>
    </p>

    <input type="submit" value="Setup" />

}
<h1>Descriptions!</h1>

<h3>Army Description: </h3>
<div class="ArmyResults"></div>
<h3>Economy Description: </h3>
<div class="EconomyResults"></div>
<h3>Government Description: </h3>
<div class="GovernmentResults"></div>
<h3>Technology Description: </h3>
<div class="TechnologyResults"></div>
<h3>Geography Description: </h3>
<div class="GeographyResults"></div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.GovernmentId1').change(function () {
            $.ajax({
                url: '/Game/newGovernment/' + $('#GovernmentId').val(),
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (GovernmentResult) {
                    var result1 = GovernmentResult.Description
                    $('.GovernmentResults').html(result1);
                }
            });
        });
        $('.ArmyId1').change(function () {
            $.ajax({
                url: '/Game/newArmy/' + $('#ArmyId').val(),
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (ArmyResult) {
                    var result2 = ArmyResult.Description
                    $('.ArmyResults').html(result2);
                }
            });
        });
        $('.EconomyId1').change(function () {
            $.ajax({
                url: '/Game/newEconomy/' + $('#EconomyId').val(),
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (EconomyResult) {
                    var result3 = EconomyResult.Description
                    $('.EconomyResults').html(result3);
                }
            });
        });
        $('.TechnologyId1').change(function () {
            $.ajax({
                url: '/Game/newTechnology/' + $('#TechnologyId').val(),
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (TechnologyResult) {
                    var result4 = TechnologyResult.Description
                    $('.TechnologyResults').html(result4);
                }
            });
        });
        $('.GeographyId1').change(function () {
            console.log("firing");
            $.ajax({
                url: '/Game/newGeography/' + $('#GeographyId').val(),
                type: 'GET',
                data: $(this).serialize(),
                dataType: 'json',
                success: function (GeographyResult) {
                    var result5 = GeographyResult.Description
                    $('.GeographyResults').html(result5);
                }
            });
        });
    });
</script>

<p>@Html.ActionLink("Home", "Index")</p>